:root {
    --orange-color: #f2740d;
    --orenge-btn-color: #d56204;
    --blue-color: #cde9fe;
    --blue-btn-color: #91b0c8;
    --black-color: #232629;

}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black-color);
}

/* clearfix */
.container::before,
.group::before,
.menu::before,
.container::after,
.group::after,
.menu::after {
    content: " ";
    display: table;
}

.container::after,
.group::after,
.menu::after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 12px 14px -4px rgba(0,0,0,0.4);
}

.logo{
    position: relative;
    top: 10px;
}
.logo img {
    width: 190px;
    height: auto;
    
}
.navigation {
    display: flex;
    justify-content: space-around;
    margin-right: 5px;   
}
.navigation li {
    padding: 0 5px;
}
.navigation li a {
    padding: 2px 8px; 
    border-radius: 20px;
}
.navigation li a:focus,
.navigation li a:hover {
    background: var(--blue-color);
}

form {
    width: 30%;
}
form input {
    width: 100%;
    padding-left: 18px;
    padding-bottom: 2px;
    padding-top: 2px;
}
form svg{
    position: relative;
    top: -19px;
    left: 3px;
}

.login {
    display: flex;
    margin-right: 25px;
}
.login li {
    margin: 0 5px;
}
.login li:last-child{
    margin-right: 60px;
}
.login li a {
    padding: 3px 8px; 
    background: var(--blue-color);
}
.login li a:focus,
.login li a:hover {
    text-decoration: underline;
}

/*MAIN  */

.container {
    background: var(--black-color);
    height: 100%;
    margin: 10px 25px;
    border-radius: 20px;
}

.cards-top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin-top: 100px;
    z-index: 20;
}

.bg-line1 {
    position: absolute;
    left: 80%;
    top: 35%;
    z-index: 1;
}
.bg-line2 {
    position: absolute;
    left: 10%;
    top: 15%;
    z-index: 1;
}

.card1  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: var(--orange-color);
    color: var(--black-color);
    border-radius: 20px 20px 0px 20px;
    margin-right: 20px;
    z-index: 20;
    padding: 20px;
}
.card1 h1 {
    font-weight:300;
    margin-bottom: 10px;
}
.card2  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: var(--blue-color);
    color: var(--black-color);
    border-radius: 20px 20px 20px 0;
    margin-right: 20px;
    z-index: 20;
    padding: 20px;
 
}
.card2 h1 {
    font-weight:300;
    margin-bottom: 10px;
}

.btn-card {
    background: rgb(41, 204, 41);
    padding: 3px 5px;
    border-radius: 7px;
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(228, 228, 228);
}
.btn-card:hover,
.btn-card:focus {
    background: rgb(31, 169, 31);
}

.card1::after,
.card2::after {
    clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
    background: var(--blue-color);
    width: 32px;
    height: 32px;
    position: absolute;
    top: 99%;
    left: 0;
    display: block;
    content: '';
    border-radius: 0 5px 0;
}

.card1::after {
    background: var(--orange-color);
    transform: scaleX(-1);
    right: 0;
    left: auto;
}
.mid-text {
    width: 60%;
    margin: 40px auto;
    text-align: center;
    font-size: 2.2em;
    color:aliceblue;
}
.changingtext1 {
    color: var(--orange-color); 
}

.changingtext2,
.changingtext3 {
    display: none;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: -100px;
}
.num1,
.num2,
.num3,
.num4 {
    max-width: 20%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num1 h1,
.num2 h1,
.num3 h1,
.num4 h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.num1 p,
.num2 p,
.num3 p,
.num4 p {
    text-align: center;
    color: darkgrey;
    max-width: 75%;
    font-size: .9em;
    margin-top: 8px;
}
.cards-world {
    position: relative;
    top: 200px;
    margin-top: 0px;
}
.card-prom1,
.card-prom2 {
    margin-bottom: 35px;
}
.card-prom1  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background: rgb(255,196,148);
    background: linear-gradient(180deg, rgba(255,196,148,1) 0%, rgba(242,116,13,1) 85%, rgba(242,116,13,1) 100%);    color: var(--black-color);
    border-radius: 20px;
    margin-right: 20px;
    z-index: 20;
    padding: 20px;
}
.card-prom1 h1 {
    font-weight:600;
    margin-bottom: 10px;
    text-align: center;
}
.card-prom1 p {
    font-weight: 400;
    text-align: center;
}
.card-prom2  {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background: rgb(218,239,255);
    background: linear-gradient(180deg, rgba(218,239,255,1) 0%, rgba(170,202,226,1) 65%, rgba(145,176,200,1) 100%);    color: var(--black-color);
    border-radius: 20px;
    margin-right: 20px;
    z-index: 20;
    padding: 20px;
}
.card-prom2 h1 {
    font-weight:600;
    margin-bottom: 10px;
    text-align: center;
}
.card-prom2 p {
    font-weight: 400;
    text-align: center;

}

.card-prom1 img,
.card-prom2 img {
    width: 500px;
    height: auto;
    margin-top: 15px;
}
.btn-card-prom {
    background: var(--orenge-btn-color);
    padding: 3px 5px;
    border-radius: 7px;
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(228, 228, 228);
}
.card-prom1 .btn-card-prom {
    background: var(--blue-btn-color);
    padding: 3px 5px;
    border-radius: 7px;
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(252, 252, 252);
}
.btn-card-prom:hover,
.btn-card-prom:focus {
    background: rgb(31, 169, 31);
}
.gap {
    height: 200px;
}

.container-2 {
    background: var(--black-color);
    height: 100%;
    margin: 10px 25px;
    padding-top: 50px;
    border-radius: 20px;
    position: inherit;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.container-2-img{
    position: relative;
    top: 70px;
    left: 25%;
    transform: translateX(-50%);
    width: 25%;
    height: auto;
    z-index: -10;
    border-radius: 10px;
    box-shadow: 13px 11px 26px 5px rgba(0,0,0,0.83);
}

.img-middle {
    width: 28%;
    height: auto;
    z-index: 30;
}
.img-left {
    left: 25%;
    transform: translateX(-50%);
}
.img-right {
    left: 21%;
    transform: translateX(-50%);
}
.btn {
    background: var(--blue-btn-color);
    text-align: center;
    margin: 10px auto;
    color: var(--black-color); font-weight: 600;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover,
.btn:focus {
    background: #9cc5e3;
}
.anim-show {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 20px;
}
.anim-card {
    width: 25%;
    margin: 0 4px;
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anim-card h1 {
    width: 90%;
    margin-bottom: 0;
    font-size: 1em;
}
.anim-card p {
    width: 80%;
    font-size: .8em;
}

.btm-text,
.btm-text-p {
    color: whitesmoke;
    text-align: center;
}
.btm-text {
    margin: 55px 0 0 0;
}
.technologists {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rocket,
.statistics,
.wheel,
.earphones,
.together {
    width: 15%;
    min-height: 200px;
    margin: 0 10px;
    margin-bottom: 15px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: whitesmoke;
    border-radius: 15px;
    cursor: pointer;
}
.rocket p,
.statistics p,
.wheel p,
.earphones p,
.together p {
    display: none;
}
.rocket h1,
.statistics h1,
.wheel h1,
.earphones h1,
.together h1 {
    font-size: 1.5em;
    text-align: center;
}
.rocket:hover,
.rocket:focus,
.statistics:hover,
.statistics:focus,
.wheel:hover,
.wheel:focus,
.earphones:hover,
.earphones:focus,
.together:hover,
.together:focus {
    background: #323639;

}
.active {
    background: #424547;
    color: rgb(122, 122, 223);
}
.active svg path {
    fill: rgb(122, 122, 223);
}

.subscription {
    display: flex;
    align-items: center;
    justify-content: center;
}
.free {
    background: whitesmoke;
    border-radius: 15px;
    margin: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.basic {
    background: whitesmoke;
    border-radius: 15px;
        margin: 0 10px 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.business {
    background: whitesmoke;
    border-radius: 15px;
        margin: 0 10px 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.enterprise {
    background: whitesmoke;
    border-radius: 15px;
        margin: 0 10px 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    text-align: center;
    padding: 10px;
}
.free h2,
.basic h2,
.business h2,
.enterprise h2 {
    margin-left: 5px;
    background: var(--orange-color);
    border-radius: 10px;
    padding: 4px 7px 3px 7px;
    font-size: 1em;
}
.sub-content hr {
    width: 80%;
}
.sub-content {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
}
.sub-con-svg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
}
.sub-con-svg svg {
    width: 50px;
    margin-top: 12px;
}
.sub-content a {
    background: var(--orange-color);
    width: 70%;
    margin: 10px auto;
    padding: 3px 4px 2px 4px;
    border-radius: 7px;
    font-size: 1.1em;
    color: black;
}
.free .sub-content a:hover,
.free .sub-content a:focus {
    background-color: var(--orenge-btn-color);
}
.basic .sub-content a,
.basic h2 {
    background: var(--blue-color);
}
.basic .sub-content a:hover,
.basic .sub-content a:focus {
    background-color: var(--blue-btn-color);
}
.business .sub-content a,
.business h2 {
    background-color: rgb(62, 154, 43);
}
.business .sub-content a:hover,
.business .sub-content a:focus {
    background-color: rgb(41, 197, 9);
}
.enterprise .sub-content a,
.enterprise h2 {
    background-color: rgb(223, 72, 193);
}
.enterprise .sub-content a:hover,
.enterprise .sub-content a:focus {
    background-color: rgb(226, 110, 203);
}
